body {
  font-family: 'ClanBold',sans-serif;
  color: red;
  background-color: black;
  margin: auto;
  text-align: center;
}

p {
  color: white;
  border-radius: 5px;

  &:hover {
    color: orange;
  }
}

.mainMenu {
  li {
    margin: auto;
  }
}

.test-autoprefixer {
  display: flex;
  transition: 1s;
}

.hello-world {
  margin: 100px 0;
  font-size: 40px;
  text-align: center;
}

.hello-world__rotate {
  display: inline-block;
  -webkit-animation: rotate 4000ms infinite linear;
  animation: rotate 4000ms infinite linear;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//fonts
@font-face {
  font-family: ClanBold;
  src: url('../media/fonts/ClanOT-Bold.eot') format('embedded-opentype'),
        url('../media/fonts/ClanOT-Bold.ttf')  format('truetype'),
        url('../media/fonts/ClanOT-Bold.woff') format('woff');
}