body {
  font-family: sans-serif;
  color: white;
  background-color: black;
  margin: auto;
  text-align: center;
}

.button {
  display: block;
  margin: auto;
}

.hello-world {
  margin: 30px 0;
  font-size: 40px;
  text-align: center;
}

.hello-world__rotate {
  display: inline-block;
  -webkit-animation: rotate 4000ms infinite linear;
  animation: rotate 4000ms infinite linear;
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.async-section {
  width: 40%;
  margin: auto;

  @media (max-width: 786px) {
    width: 85%;
  }

  .async-input {
    label {
      display: block;
      color: gray;
      padding-bottom: 5px;
    }

    select {
      background: gray;
      width: 175px;
      font-size: 20px;
      color: white;
      outline: none;
      border: none;
      padding: 10px;
      text-align-last: center;
      appearance: none;
      cursor: pointer;
    }
  }

  .async-table {
    width: 100%;
    margin: auto;
    text-align: center;

    .async-table-id {
      width: 10%;
    }

    .async-table-title {
      width: 30%;
    }

    .async-table-body {
      width: 60%;
    }
  }
}