# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea
dist
node_modules
test-coverage
coverage
selenium-debug.log
npm-debug.log*
.DS_Store