<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RIKO</title>
</head>
<body>
<div id="root"></div>
<% var supplies = ['sdfsdf','sdfsf']%>
<ul>
    <% for(var i=0; i<supplies.length; i++) {%>
    <li><%= supplies[i] %></li>
    <% } %>
</ul>
</body>
</html>