{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "describe": false,
    "it": false,
    "process": false
  },
  "extends": "eslint:recommended"
}