{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true
  },
  "globals": {
    "React": false,
    "ReactDOM": false,
    "_": false,
    "$": false
  },
  "extends": "eslint:recommended",
  "rules": {
    "eqeqeq": 2,
    "no-console": 0,
    "no-extra-boolean-cast": 0,
    "no-empty-label": 0,
    "space-return-throw-case": 0
  }
}